* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: 'Helvetica', sans-serif;
  font-size: 12pt;
}

body {
  padding: 1rem 2rem;
  margin: 0 auto;
}

@media not print {
  body {
    width: 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input {
  /* this is a formal document, everything should */
  /* be the same font size */
  font-size: 1rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;

  /*padding-bottom: 2rem;*/
}

h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 1rem 0;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
}

ul > ul {
  margin-left: 2rem;
}

h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul {
  margin-left: 0;
}

ul > li {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

input[type="text"],
.input {
  min-width: 5rem;

  background: none;
  border: none;
  border-bottom: solid 2px;
}